@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

*::-webkit-scrollbar {
  background-color: white;
  width: 2px;
}
*::-webkit-scrollbar-thumb{
  background-color: #bf0000;
}

